:root {
    --header-height: 3.5rem;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
}


html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    list-style: none;
    // outline: 1px solid red; // (For css debugging :) )
}

body {
    margin:var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--pri-font);
    font-size: var(--normal-font-size);
    background: var(--body-color) !important;
    color: var(--text-color);
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 4.5rem 0 2rem;

    &__title {
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-2);
        text-align: center;
    }
}

.show-menu {
    top: 0 !important;
}