// removing the default padding of html headings ..
h1, h2, h3 {
    margin-top: 0;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

// removing the default link styles
a, a:visited, a:active {
    text-decoration: none;
}